@charset "utf-8";
/* CSS Document */

::-webkit-scrollbar{
    width: 8px;
    background-color: #f3f3f3;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0);
    background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgb(0, 0, 0, .3);
}
.Load{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #3147e3;
	z-index: 99999;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .7s ease-in-out;
}
.cargador{
	height: 95px;
	display: flex;
	align-items: center;
}
.linea{
	width: 6px;
	height: 95px;
	background: #FFFFFF;
	margin:  0 3px;
	border-radius: 4px;
	animation: loader .8s infinite;
}
.linea:nth-child(2){
	animation-delay: .1s;
}
.linea:nth-child(3){
	animation-delay: .2s;
}
.linea:nth-child(4){
	animation-delay: .3s;
}
.linea:nth-child(5){
	animation-delay: .4s;
}
.linea:nth-child(6){
	animation-delay: .5s;
}
.linea:nth-child(7){
	animation-delay: .6s;
}
.linea:nth-child(8){
	animation-delay: .7s;
}
@keyframes loader {
	0%{
		height: 0px;
	}
	50%{
		height: 95px;
	}
	100%{
		height: 0px;
	}
}


*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 14px;
}

a{text-decoration: none;}

header-container{
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    background:#3147e3;
    border-radius: 0 0 0.7rem 0.7rem;
    z-index: 1000;

    #identify-container{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 70% 1fr;
        padding: 15px 0 0 0;
        align-items: center;
        
        img{
            display: block;
            position: relative;
            margin: 0 auto;
            width: 8rem;
        }
        #name-logo{
            font-size: 1.8em;
            font-weight: bold;
            color: #ffffff;
            text-align: center;
        }
    }
    nav{
        display: block;
        width: 100%;
        padding: 1em 0;
        ul{
            display: flex;
            place-items: center;
            justify-content: space-between;
            gap: 20px;
            width: 90%;
            margin: 0 auto;
            list-style: none;
            li{
                text-align: center;
                transition: all 0.4s linear;
	            border-radius: 0.4rem;
                &:hover{background: #cccccc;}
            }
            li a{
                font-size: 1.2rem;
                color: #ffffff;
            }
        }
    }
}

#icon-menu{
    display: none;
    position: absolute;
    margin-right: 1rem;
    right: 0;
    width: 3rem;
    cursor:pointer;
    background: none;
    z-index: 2000;

    span , &::after, &::before{
		content: '';
		display: block;
		width: 100%;
		height: 0.3rem;
		background-color: #FFF;
		margin: 5px 0px;
        border-radius: 2px;
		transition: 400ms;
	}
    &.is-active:before{
		transform: rotate(-45deg) translate(-9px,6px);
	}
	&.is-active:after{
		transform: rotate(45deg) translate(-7px,-3px);
	}
	&.is-active span{
		opacity: 0;
	}
}

main{
    display: block;
    position: relative;
    width: calc(100% - 60px);
    z-index: 900;
    margin: 2rem 30px;
}

footer-container{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    border-radius: 0.7rem 0.7rem 0 0;
    background: #000000;
    z-index: 800;

    .footer-legend{
        width: 70%;
        color: #ffffff;
        margin: 0 auto;
        padding: 3.2rem 0;
    }
}

/*Presentation Index*/
#presentation-container{
    display: grid;
    width: 100%;
	grid-template-columns: 1fr 1fr;
    align-items: center;
	justify-content: center;
	gap: 20px;
    #readme-presentation-container{
        h1{
            font-size: 1.8rem;
            text-align: center;
            font-weight: bold;
            color: #3147e3;
        }
        p{text-align: justify;}
    }
    #icon-presentation-container{
        img{
            display: block;
            width: 70%;
	        height: auto;
            margin: 0 auto;
        }
    }
}


/* Styles to each file content*/

.title-article{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center; 
    color: #3147e3;
    padding-bottom: 2rem;
}

.subtitle-article{
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.text-article{
    font-size: 1rem;
    text-align: justify;
    padding-bottom: 1rem;
}

.media-article{
    display: block;
    margin: 2rem auto;
    width: 70%;
    max-width: 40rem;
    border-radius: 1rem;
}

.activity-article{
    font-size: 1.3rem;
    font-weight: bold;
	color: #164bf0;
	text-align: center;
}

.list-article{
	font-size: 1rem;
	padding-left: 20px;
	> li{
		position: relative;
		display: table;
		background: #cccccc;
		padding: 8px 8px 8px 15px;
    	margin: 7px;
		border-radius: 5px;
	}
	>li::before{
		position: absolute;
		display: block;
		content: " ";
		left: -25px;
		margin-top: -10px;
		width: 32px;
		height: 32px;
		outline: 3px solid #ffffff;
		border-radius: 100%;
		background: #3147e3;
	}
}

.timeline-article{
    width: 80%;
    margin: 0 auto;
    display: grid;
    color: #ffffff;
    grid-template-columns: repeat(auto-fit, 50px) ;
    justify-content: center;
	column-gap: 30px;
    row-gap: 20px;

    >.step-timeline{
		display: grid;
		position: relative;
		justify-self: center;
		place-content: center;
		margin: 10px 0;
		width: 100%;
        height: 140px;
        cursor: pointer;
        background: #3147e3;
        transition: all 500ms linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
        >img{
            display: none;
        }
        >.textList{
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            writing-mode: vertical-rl;
            transform: rotate(-180deg);
        }
    }
	.step-timeline::before, .step-timeline::after{
		border-bottom: 70px solid transparent;
		border-top: 70px solid transparent;
		position: absolute;
		content: " ";
		transition: all 1ms linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
	}

	.step-timeline::after{
		border-left: 15px solid #3147e3;
		right: -15px;
	}

	.step-timeline::before{
		border-left: 15px solid transparent;
		border-bottom-color: #3147e3;
		border-top-color: #3147e3;
		left: -15px;
	}

    .step-timeline:hover{
		z-index: 10;
		margin: 0;
        width: 130px;
		height: 160px;
        box-shadow: 0 0 40px 15px rgba(75, 75, 75, 0.7);
        >.textList{
            padding-top: 8px;
            writing-mode: horizontal-tb;
            transform: rotate(0deg);
        }
    	>img{
            display: block;
			margin: 5% auto;
			width: 55%;
			background: #ffffff;
        }
		&::before, &::after{
			border-bottom-width: 80px;
			border-top-width: 80px;
		}
    }
}

/*responsive*/
@media only screen and (max-width: 900px){
    header-container{
        #identify-container{
            grid-template-columns: 0.9fr 0.1fr;
            padding: 1rem 0 1rem 1rem;
            #name-logo{
                font-size: 1.5rem;
                text-align: left;
            }
            img{display: none;}
        }
        nav{
            display:block;
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100vh;
            background: #0000005e;
            transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            ul{
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 20rem;
                max-width: 300px;
                height: 100vh;
                background: #000000;
                padding-top: 60px;
                overflow-y: auto;
                transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
                li{
                    text-align: left;
                    margin: 0 0 15px 30px;
                    a{
                        display: block;
                        font-size: 1.5rem;
                        font-weight: bold;
                        width:70%;
						border-left: 5px solid transparent;
						transition: border-left 300ms ease-in-out, background 300ms ease-in-out;
                    }
                    a:hover{
						border-left: 5px solid #c7c7c7;
						background: #1f1f1f;
					}
                }
            }
            &::-webkit-scrollbar {display: none;}
            &.is-active{
                right: 0;
            }
        }
    }

    #icon-menu{display: block;}
    #presentation-container{grid-template-columns: 1fr;}
}